<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height: 60px">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/index">Vakantes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="${'/images/perfil-vazio.png'}"
                                 class="rounded-circle" width="35" height="35" alt="Foto do Usuário"
                                 style="margin-right: 10px;">
                            <span th:text="${nomeUsuario}"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item"  th:href="@{|/usuario/${idUsuario}|}" >Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/auth/logout}" method="get">
                                    <button type="submit" class="dropdown-item text-danger">Sair</button>
                                </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>