<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
     style="height: 60px; background-color: #191a1a !important;">
    <div class="container-fluid">
        <a th:href="@{/home/index}">
            <img src="/images/logo.png" alt="Logo" class="card-logo img-fluid" style="max-width: 150px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

       <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="${usuarioFoto != null && !usuarioFoto.isBlank()} ? @{'/usuario/' + ${usuario.id} + '/foto'} : ${'/images/perfil-vazio.png'}"
                             class="rounded-circle" width="35" height="35" alt="Foto do Usuário"
                             style="margin-right: 10px;">
                        <span th:text="${usuarioNome}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" th:href="@{/usuario/perfil}">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form th:action="@{/auth/logout}" method="get">
                                <button type="submit" class="dropdown-item text-danger">Sair</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
