@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.botão-index{
    width: 150px;
}

.padding-navbar{
    padding-top: 60px;
}

.card-logo{
    background: aliceblue;
    padding: 5px;
    border-radius: 10px;
}
.navbar{
    background: #191a1a !important;
}
.footer{
    background: #191a1a !important;
}

.msgValidacao{
    margin-top: 16px;
}

/* canditados-recomendados */
.card h6 {
    font-weight: 600;
    margin-top: 1rem;
}

.card-body ul {
    padding-left: 1.2rem;
}

/* badges estágio da vaga*/

.aberta {
    background-color: #28a745;
}

.em-selecao {
    background-color: #ffc107;
}

.entrevistas {
    background-color: #17a2b8;
}

.finalizada {
    background-color: #6c757d;
}

.cancelada {
    background-color: #dc3545;
}
